body{
	margin-top: 50px;
	font-family: "Trebuchet MS";
	background-color: #446CB3;    /*1F3A93  Jackson  */
}



/* LOGIN  */


.afterlogin{
	display: none;
}

.beforelogin{
	z-index: 2000;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(../img/fundo.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 30px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}



/*  BARRA FIXA */

#fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1000;
	width: 100%;
	height: 55px;
	background-color:#3671ef; /*3498db*/
	color: #ffffff;
	-webkit-box-shadow: 0px 3px 18px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 18px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 18px 0px rgba(50, 50, 50, 0.75);

} 

#title{
	width: 30%;
	padding-top: 10px;
	height: 40px;
	display: inline-block;
	float: left;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	background-color: #3671ef;

}

.menu{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0 20px;  
	list-style: none;
}

.menu_element{
	padding-top: 15px;
	top:0px;
	height: 40px;
	display: inline-block;
	float: left;
	width:16%;
	text-align: center;
	font-weight: bold;
}

.menu_element:hover{
	background-color: #1549b8; /*ECECEC*/
}

.submenu{
	position: absolute;
	top:100%;
	box-shadow:         0px 3px 18px 0px rgba(50, 50, 50, 0.75);
}

.submenu_elements{
	height: 10px;
	width: 100px;
}

li {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	cursor: default;
}

nav ul ul{
	list-style: none; /* Tira as bolinhas das listas aos submenus */
}

nav ul{
	padding: 0;     /* Tira o espaço onde as bolinhas estavam  */
	margin: 0;
}

.submenu {
	display: none;
}

	.menu_element:hover > ul{
			display: block;
			background-color: #5881d8;

	}

		.menu_element:hover > ul > li{
			width: inherit;	
			padding: 15px 50px;
		}

		.menu_element:hover > ul > li:hover{
			background-color: #1549b8;
		}

#mainwrap{
  	margin-top: 5%;
}

#progress{
	width: 15%;
	background-color: #ECECEC;
	display: inline-block;
	float: left;
}

#progress li{
	display: block;
	padding: 5%;
}

#progress li:hover{
	background-color: #5881d8;
}

#progress ul{
	list-style: none; /* Tira as bolinhas das listas aos submenus */
	padding: 0;     /* Tira o espaço onde as bolinhas estavam  */
	margin: 0;
}

#progress ul li{
	padding: 15px;
}

#progress a{
	color: black;
	text-decoration: none;
}

/* JOGO */

#game{
	display: inline-block;
	width: 75%;
	margin-left: 2%;
	float:left;
	}

.tray{
	text-align: center;
	margin: auto;
	border: 10px solid transparent;
	font-family: "Courier New", Courier, monospace;
}

td{	
	width: 30px;
	height: 30px;
	font-weight: bold;
	background-color: #ECECEC;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	cursor: default;
}

.game_beginner td{
	width: 35px;
	height: 35px;
}

.game_intermediate td{
	width: 30px;
	height: 30px;
}

.game_expert td{
	width: 25px;
	height: 25px;
}


.flag{
	background: #f6e6b4; /* Old browsers */
	color: red;
}

.mine{
	background-color: #c0392b;

}


.hidden{
	background-color: #6BB9F0; /* Malibu */
}

.hidden:hover{
	background-color: #9acaec; /* Malibu */
}
.zero{
	color: transparent;
}
.one{
	color: blue;
}

.two{
	color: green;
}
.three{
	color: red;
}
.four{
	color: black;
}
.five{
	color: purple;
}

#quadroHonra{
	display: none;
	text-align: center;
	width: 50%;
	margin-left: 25%;
	margin-top: 10%;
	min-height: 50%;
	background-color: #E4F1FE;
}

#lista_quadroHonra{

	text-align: justify;
	margin-left: 30%;
	width:50%;
	color: #446CB3;
}

#quadroHonra h1{
	color: #3671ef;
	padding-top: 20px;
}